* {
    box-sizing: border-box;
}
/* Cuando la pantalla sea menor a 600px (celulares) */
@media (max-width: 600px) {
    .wrapper-neon {
        width: 95%;      /* Casi todo el ancho de la pantalla */
        padding: 2px;    /* Borde más fino para que no estorbe */
    }
    
    .calculadora-neon {
        padding: 15px;   /* Menos espacio interno para que quepa todo */
    }

    input#resistenciasInput {
        width: 100%;     /* El input ocupa todo el ancho disponible */
        display: block;
        margin-bottom: 10px;
    }
}